body{
	margin:0;
	padding:0;
}
#bound{
	position:absolute;
	top:0;
	left:0;
	padding-left:5%;
	padding-left:10%;
	padding-right:5%;
	padding-right:10%;
	width:80%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background:rgb(255, 221, 131,0.5);
}
#bound-container{
	background:white;
	width:100%;
	float:left;
}
main #top{
	width:96%;
	display:flex;
	padding:2%;
	align-items:center;
}
main #top div{
	float:left;
	font-size:32px;
	cursor:pointer;
}
main #top nav{
	margin-left:20px;
	display:flex;
	align-items:center;
}
main #top nav div{
	margin-left:10px;
	font-size:20px;
}
main #top nav div:hover{
	text-decoration:underline;
}
main #bottom{
	width:96%;
	display:flex;
	padding:2%;
	height:400px;
	align-items:center;
}
main #bottom div{
	width:100%;
	font-size:40px;
	text-align:center;
}
main #bottom div span{
	background:black;
	color:white;
}
.content-item{
	margin:2%;
	width:25%;
	border:2px solid black;
	padding:2%;
	cursor:pointer;
}
.content-item img{
	width:100%;
}
.content-item #title{
	font-size:20px;
}
.content-item #price{
	margin-top:10px;
}
.content-item #price span{
	background:orange;
	color:white;
	padding:2px;
}
.content-item #description{
	font-size:12px;
}
.content-item:hover #title{
	text-decoration:underline;
}
.bWhiteBlack{
	padding:5px;
	color:white;
	background:black;
	cursor:pointer;
}
.bBlackWhite{
	padding:5px;
	color:black;
	background:white;
	cursor:pointer;
}
.showContentPage{
	background:white;
}
.showContentPage #top{
	display:flex;
	align-items:center;
	background:black;
	padding:10px;
}
.showContentPage #top div{
	width:50%;
	color:white;
}
.showContentPage #bottom{
	display:flex;
	align-items:center;
	padding:10px;
	max-height:50%;
	flex-direction:column;
}
.showContentPage #bottom #title{
	font-size:32px;
}
.showContentPage #bottom #previewImg{
	width:94%;
	margin:3%;
}
.showContentPage #bottom div div{
	float:left;
	width:42%;
	margin:2%;
}
.showContentPage #bottom div #sideO div{
	float:left;
	width:100%;
}
.showContentPage #bottom div #preview{
	width:50%;
	background:black;
}
.showContentPage #bottom div #sideO #pricE span{
	background:orange;
	color:white;
	padding:5px;
}
.showContentPage #bottom div #sideO #description{
	font-size:15px;
}
.showContentPage #bottom div #sideO #bottomSection div{
	float:left;
	width:46%;
}
input{
	padding:5px;
}
@media only screen and (max-width: 900px){
	#searchTool div{
		display:none;
	}
	#bound-top nav div{
		display:none;
	}
	.content-item{
		width:90%;
	}
	#bound-body{
		flex-wrap:nowrap;
		justify-content:flex-start;
	}
}